@import 'https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps';
body {
  background-color: #094d92;
  height: 100vh;
  overflow: hidden; }

.main-page-content .my-photo {
  width: 400px;
  height: 385px;
  border-radius: 100%;
  background-image: url("../../prod/img/me.png"); }
  .main-page-content .my-photo:hover {
    background-position: -100% 0; }
  .main-page-content .my-photo a {
    width: 100%;
    height: 100%;
    display: inline-block; }

.main-page-content .my-name {
  padding-top: 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2em;
  color: #fefefe; }
