@import 'https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps';
body {
  background-color: #094d92;
  height: 100vh;
  overflow: hidden; }

.my-page-content {
  width: 100%;
  height: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .my-page-content .my-info {
    max-width: 50%; }
    .my-page-content .my-info .my-photo {
      width: 400px;
      height: 385px;
      border-radius: 100%;
      background-image: url("../../prod/img/me.png"); }
      .my-page-content .my-info .my-photo:hover {
        background-position: -100% 0; }
      .my-page-content .my-info .my-photo a {
        width: 100%;
        height: 100%;
        display: inline-block; }
    .my-page-content .my-info .my-name {
      padding-top: 20px;
      width: 100%;
      text-align: center;
      font-family: 'Oleo Script Swash Caps', cursive;
      font-size: 2em;
      color: #fefefe; }
